*{
margin: 0px;
padding: 0px;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.header-container{
   height: 80vh;
   width: 100vw; 
   background-color: rgba(229, 84, 115, 0.10);
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:105px;

  

}
.img-header{
   height: 417px;
   width: 365px;
}
.header-paragraph{
   margin-top: 30px;
   font-size: 0.7rem;
   font-weight: 1.5rem;
}
.btn-header{
   margin-top: 15px;
}
.btn-primary{
   padding:5px 25px;
   border-radius: 3px;
   background: #E55473;
   border: none;
   color: #FFF;
   font-size: 13px;
   font-weight:600;

   
}
.flower-featured-container{
   margin-top: 80px;
}
.flower-featured-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.flower-featured-paragraph{
  text-align: center;
  font-size: 0.7rem;
  font-weight: 1.5rem;
}
.flower-featured-picture-container{
   display: flex;
   justify-content:center;
   width:70%;
   gap: 10px;
   margin-top: 20px;
   text-align: center;
   margin: auto;
   
}
.img-flower-featured{
   height: 190px;
   width: 140px;
       
}
.img-two{
   height: 190px;
   width: 160px;
}
.flower-featured-pic-one{
   border-radius: 300px 300px 0px 0px;
   background: rgba(167, 33, 98, 0.15);
   padding: 35px; 
   padding-bottom:0px;
   
}
.flower-featured-pic-two{
   border-radius: 300px 300px 0px 0px;
   background: rgba(5, 151, 160, 0.15);
   padding:35px 25px 0px 25px;

}
.flower-featured-pic-three{
   border-radius: 300px 300px 0px 0px;
   background: rgba(71, 125, 17, 0.15);
   padding: 35px;
   padding-bottom: 0px;
}
.flower-featured-picture-container{
   margin-top: 40px;
}
.pink-flower{
   text-align: center;
   margin-top: 30px;
   margin-bottom: -40px;
   font-size: 12px;
   font-weight: 600;
   text-decoration: underline;
 
}
.extra-services-container{
   margin-top:205px;
  
   display:flex;
   justify-content: center;
   gap:105px;
   padding: 30px;
   border-radius: 8px;
   background: rgba(39, 39, 39, 0.05);
   margin-top:105px;
   width: 70%;
   margin-left:140px;


   
}
.img-extra-services{
   height: 40px;
   width: 40px;
}
.text-extra-deliveries{
   font-size:0.7rem;
   font-weight:510;
   margin-top: 20px;
   text-align: center;
   
  
   
  
}
.text-free-delivery{
   margin-left: -45px;
}
.text-fresh-flowers{
   margin-left: -30px;
}

.text-free-support{
   margin-left:-10px;

}
.hot-deal-off-container{
   margin-top:75px;
   border-radius: 8px;
   background: rgba(229, 84, 115, 0.05);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60vh;
   gap:130px;
}
.img-hot-deal-off{
   height:200px;
   width:150px;
}
.hot-deal-off-paragraph{
   font-size:0.7rem;
   font-weight:1rem;
   text-align: center;
   margin-top:20px;
}
.btn{
   text-align: center;
   
}
.hot-deal-off-title{
   text-align: center;

}
.btn-another-primary{
   padding: 10px 20px;
  margin-top:20px;
}
.instagram-img{
   height:200px;
   width:180px;
}
.instagram-picture-container{
   display: flex;
   gap:10px;
   justify-content:center;
   width: 70%;
   margin-left:160px;
   border-radius: 5px;
   margin-top:40px;
}
.instagram-text-container{
   margin-top:65px;
}
.instagram-title{
   text-align: center;
}
.instagram-paragraph{
   text-align: center;
   font-size:0.7rem;
   font-weight:1rem;
   margin-top:30px;
}
.leatest-deals-picture-container{
  margin-left:130px;
  margin-top: 0px;
   
  
   
 
}
.leatest-deals-img{
   height:50vh;
   width: 90%;
}



.leatest-deals-title{
   text-align: center;
}
.leatest-deals-info{
   text-align: center;
   margin-top:10px;
   font-size:0.7rem;
   font-weight:1.5rem;
}
.leatest-deals-form{
   text-align: center;
   margin-top:55px;
}
.leatest-deals-text-container{
   
   position: relative;
   top: 180px;
   left: 20px;
  
}
input[type="email"]{
   padding: 3px 190px 3px 5px;
   border-radius:4px;
   background-color: #FFF;
   border: none;
}
::placeholder{
   font-size:0.5rem;
   font-weight:600;
}

input[type="submit"]{
   border-radius: 4px;
   background: #E55473;
   padding:8px 15px;
   border: none;
   color: #FFF;
   font-size:0.7rem;
   font-weight: 510;
}
.feedback-container{
   margin-top:80px;
   background: rgba(229, 84, 115, 0.05);
   height:40vh ;
   width:80%;
   margin-left:125px;
   border-radius:10px;
}
.feedback-title{
   text-align: center;
   padding-top:35px;
   color: green;
  
}
.feedback-span{
   color: #E55473;
}
input[type="text"]{
   padding:10px 190px 10px 10px;
   
   margin-top:30px;
   border-radius:7px;
   border:none;
   background-color:black;
   color: white;
   font-size:0.8rem;
   font-weight: 510;

}
.feedback-form-text{
   text-align: center;
  
}
.feedback-form-submit{
   text-align: center;
   margin-top:20px;
}
input[type="text"]::placeholder{
   color:white;
   font-weight: 510;
   color: rgba(255, 255, 255, 0.40)
}
.footer-container{
   height:40vh;
   margin-top:90px;
   background-color: #111010;
   padding-top:55px;
}
.footer-title{
   text-align: center;
   color: rgba(255, 255, 255, 0.90); 
}
.flower{
   color: #E55473;
}
.footer-paragraph{
   text-align: center;
   color: rgba(255, 255, 255, 0.90);
   margin-top:25px;
   font-size:0.7rem;
   font-weight:1.5rem;
}
.footer-info{
  text-align: center;
  font-size:0.5rem;
  font-weight: 510;
  margin-top:25px;
  color: rgba(255, 255, 255, 0.40); 
}





   
   

